/* ! GENERAL RULES */

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.w-50p {
  width: 50px;
}

/* ! HEADER  */

header {
  border: 1px dashed red;
}
.button-round {
  height: 100%;
  line-height: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(63, 62, 62);

}











section {
  height: 300px;
  border: 1px dashed red;
}
