/* ! GENERAL RULES */

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.w-50p {
  width: 50px;
}

section {
  border: 1px dashed red;
}
.space {
  height: 102px;
}

* span {
  color: gray;
}

a {
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

/* ! HEADER  */

header {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
}

/* ! JUMBOTRON 1  */

.jumbotron1,
.jumbotron2 {
  height: 600px;
  background-image: url("img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron2 {
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
}
.buy-now {
  position: absolute;
  bottom: 50px;
}
.buy-now a {
  background-color: #c63511;
}

/* ! HIGHLIGHTED PLAY  */

.highlighted-play img {
  max-width: 100%;
  border-radius: 15px;
}
